vncdotool
opencv-python
pytesseract
watchdog
colorlog
imutils
configargparse
image
scikit-image
mysql-connector-python
twisted
gpxdata
flask
requests
s2sphere
imagehash
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability