vncdotool
opencv-python
pytesseract
watchdog
colorlog
imutils
configargparse
image
scikit-image
mysql-connector-python
twisted
gpxdata
flask
requests
s2sphere
imagehash
django>=4.2.24 # not directly required, pinned by Snyk to avoid a vulnerability