pytesseract
watchdog
colorlog
imutils
imageutils
configargparse
image
scikit-image
mysql-connector-python-rf
twisted
gpxdata
flask
requests
s2sphere
Imagehash
mysql
django>=5.0.14 # not directly required, pinned by Snyk to avoid a vulnerability
