pytesseract
watchdog
colorlog
imutils
imageutils
configargparse
image
scikit-image
mysql-connector-python-rf
twisted
gpxdata
flask
requests
s2sphere
Imagehash
mysql
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
